<img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/77420/burger-clipart-xl.png"
    alt="burger-clipart">

<h1 class="title text-center">This is a Tasty Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-5" id="available-burger-list">
            <h2>Available Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <div class="available-burgers">
                    <span> {{this.burger_name}} </span>
                    <button type="button" class="btn btn-light" id="devour-button" data-id="{{this.id}}"
                        data-newDevoured="{{devour}}">DEVOUR IT</button>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col"></div>

        <div class="col-5" id="devoured-burger-list">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <div class="devoured-burgers">
                    <span> {{this.burger_name}} </span>
                    <button type="button" class="btn btn-light" id="delete-button" data-id="{{this.id}}"
                        data-newDevoured="{{devour}}">I'M FULL!</button>
                </div>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{!-- Button to add new burger --}}
<form class="create-form" id="add-burger">
    <div class="form-group col">
        <input type="text" id="enter-burger" name="burger_name">
        <button type="submit" class="btn btn-light" id="add-button">ADD BURGER</button>
    </div>
</form>